.main-page{
    display: flex;
}

.Eye{
    border:none;
    background-color:white;
    color: blue;


}
.status{
    
    border-radius:50px;
    width:100px;
    padding-left: 15px;
    padding-top: 2px;
    height: 30px;
    
}

.table th{
    background-color: whitesmoke;
}
.orders{
    color:black;
    text-decoration: none;
    font-family: cursive;
    font-size:100%; 
    cursor: pointer;
  
}
.orders:hover{
    color: rgb(67, 111, 255);
}

#statusFilter{
  height:35px;
  border-color: black;
 
}
.range{
    position: absolute;
    margin-left:775px;
    top:210px;
    

    
}
.range >input{
    height:35px;
    width: 200px;
    
}